.dt-buttons .btn {
    margin-right: .25rem;
    margin-bottom: .25rem;
}

.dataTables_wrapper .dataTables_filter {
    text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
    width: 220px;
    margin-left: .5rem;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info {
    text-align: left;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: right;
}

table.dataTable thead th {
    white-space: nowrap;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.table-actions {
    white-space: nowrap;
}
